/*loading*/
#loading
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
    z-index: 1000;
}

.active>.bgwater {

    -webkit-animation: bgSlide 7s linear infinite;
    animation: bgSlide 7s linear infinite;
}