/* 
* @Author: anchen
* @Date:   2015-04-06 17:40:04
* @Last Modified by:   anchen
* @Last Modified time: 2015-04-06 22:48:23
*/
@charset utf-8;

/**
p
{
  font: heiti;
  color:blue;
  font-size: 20px;    

}
**/
/* [href^="http"]
{
 color:red;    
}
[href$=".cn"]
{
    color:orange;
}
[href*="sougou"]
{
    color: gray;
}
[type]
{
    border: 1px dotted red;
}
[class~="abc"]
{
    color: red;
    font-size: 40px;
} */
/* p > b{
    color: red;
}
p+b{
    color: blue;
} */
/* p ~ b 
{
    color: orange
}

div::first-line
{color: red;}; */

/*     a::before{conten:}; */
ul>li:nth-last-child(2)
{
    color:red;
}
@font-face
{
    font-family: abc;
src:url('src/BuxtonSketch.ttf');
}
/* input:disabled{border:1px solid red;}
input:enabled{border:1px solid blue;} */
/* input:checked{display:none;}
input:valid{border: 1px solid green;};
input:invalid{border: 1px solid red;};
input:optional{border: 1px solid orange;}; */
/* a:link{color:red;}
a:visited{color:blue;}
a:hover{color:orange;}
a:active{color:green;}
p:empty{display: none;} */
p{
    /* color:#f0f; */
   /*  color:rgb(0,128,128); */
    /* color:rgba(0,128,128,0.5); */
/*     background: gray;
margin: 0px;
padding: 0px;
font-size: 12px;
height: 5em; */
font-size:50px;
font-family: abc;
text-shadow:5px 5px 3px red;
text-align:end;
white-space: pre;
letter-spacing: 20px;
word-spacing: 70px;
}